[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
Ankh.NoLoad
#NuGet
packages/
csx/

*.backup
readme.html
*.nupkg
Chauffeur.ContentImport.Demo/umbraco
Chauffeur.ContentImport.Demo/umbraco_client
Chauffeur.ContentImport.Demo/install
Chauffeur.ContentImport.Demo/App_Data/cache
Chauffeur.ContentImport.Demo/App_Data/Logs
Chauffeur.ContentImport.Demo/App_Data/NuGetBackup
Chauffeur.ContentImport.Demo/App_Data/packages
Chauffeur.ContentImport.Demo/App_Data/preview
Chauffeur.ContentImport.Demo/App_Data/TEMP
Chauffeur.ContentImport.Demo/App_Data/*.config
Chauffeur.ContentImport.Demo/App_Data/*.sdf
Chauffeur.ContentImport.Demo/media
tools
.packaging
.vs
.fake
.ionide